[submodule "hugo-theme-massively"]
	path = hugo-theme-massively
	url = https://github.com/curtiscde/hugo-theme-massively
[submodule "themes/hugo-theme-massively"]
	path = themes/hugo-theme-massively
	url = https://github.com/curtiscde/hugo-theme-massively
[submodule "themes/massively"]
	path = themes/massively
url=https://github.com/vavdb/hugo-theme-urfit